* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

:root{
    --bg-color: rgb(255, 255, 255);
    --ft-color: rgb(44, 44, 44);
    --tb-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--ft-color);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gray;
    padding: 30px;
    border-radius: 5rem;
    max-width: 50%;
    margin: 30px auto 0px auto;
}

.switchThemeButton{
    display: flex;
}

.themeButton{
    padding: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    background-color: transparent;
    transition: 0.4s;
    color: var(--ft-color);
}

#buttonFont{
    font-size: 25px;
}

.themeButton:hover{
    border-bottom: 2px solid var(--ft-color);
}

.jogador{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item5 item6"
    "item7 item8 item9";
    gap: 20px 20px;
    background-color: var(--tb-color);
    max-width: 16.8rem;
    margin: 25px auto 0px auto;
}

.itens{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3rem;
    height: 3.2rem;
    background-color: var(--bg-color);
    transition: 0.4s;
    cursor: pointer;
}

.itens:hover{
    background-color: var(--bg-color);
}

@media(max-height: 652.8px){
    * {
        font-size: 30px;
    }
    #buttonFont{
        font-size: 20px;
    }
}

@media(max-width: 1069px){
    *{
        font-size: 25px;
    }
    
    .header{
        max-width:55%;
    }

    .container{
        gap: 10px 10px;
        margin-top: 50px;
    }
}

@media(max-width: 735px){
    .header{
        max-width: 70%;
    }
}

@media(max-width: 562px){
    .header{
        max-width: 95%;
    }
    *{
        font-size: 20px;
    }
    #buttonFont{
        font-size: 15px;
    }
}